* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: hsl(0, 0%, 100%);
    border-radius: 0.8rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    width: 260px;
    text-align: center;
    padding: 20px;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
}

.card h1 {
    font-size: 15px;
    font-weight: 700;
    margin: 20px 0 10px;
    color: hsl(218, 44%, 22%);
}

.card p {
    font-size: 15px;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    margin-bottom: 20px;
} 
@media (max-width: 375px) {
    body {
        padding: 10px; 
    }

    .card {
        width: 100%;
        max-width: 340px; 
        padding: 15px; 
    }

    .card h1 {
        font-size: 15px; 
        margin: 15px 0 8px;
    }

    .card p {
        font-size: 15px; 
        margin-bottom: 15px;
    }
}